# Ambientes Virtuais
.env
.venv
env/
venv/
ENV/

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pacotes e distribuição
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Arquivos de dados locais (para não enviar datasets grandes)
*.csv
*.data
*.json
*.sqlite3

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
